<label for="post-9" class="read-more-trigger"></label>
         	 <div class="bordered_label f18 m-t-2"><span>Photos</span></div>
         		           <div class="row r-m-05">     
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/gati express1.jpg" alt="gati packers and movers img 1" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/gati express2.jpg" alt="gati packers and movers img 2" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/gati express3.jpg" alt="gati packers and movers img 3" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/gati express4.jpg" alt="gati packers and movers img 4" class="img-responsive">
             </div>
             </div>
             <div class="bordered_label f18 m-t-2"><span>Videos</span></div>
             <div class="row r-m-05">
                   <iframe width="300" height="300" src="https://www.youtube.com/embed/gXouq5H9Hok" frameborder="0" allowfullscreen></iframe>
              </div>