 <label for="post-5" class="read-more-trigger"></label>
         	 <div class="bordered_label f18 m-t-2"><span>Photos</span></div>
         		           <div class="row r-m-05">     
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/Noor Packers1.jpg" alt="Noor packers and movers img 1" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/Noor Packers2.jpg" alt="Noor packers and movers img 2" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/Noor Packers3.jpg" alt="Noor packers and movers img 3" class="img-responsive">
             </div>
             <div class="col-md-3 col-sm-4 col-xs-6 c-p-05">
                   <img src="images/Noor Packers4.jpg" alt="Noor packers and movers img 4" class="img-responsive">
             </div>
             </div>
             <div class="bordered_label f18 m-t-2"><span>Videos</span></div>
             <div class="row r-m-05">
                   <iframe width="300" height="300" src="https://www.youtube.com/embed/OOvMLTTcicE" frameborder="0" allowfullscreen></iframe>
              </div> 